
app = "energy-tracking"
primary_region = "lhr"

[env]
  PORT = "8080"            # this PORT will be used by uvicorn

[processes]
  app = "uvicorn app:app --host 0.0.0.0 --port 8080"

[[services]]
  internal_port = 8080     # plain integer, no underscores
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

